body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

h1 {
  width: 100%;
  font-weight: 300;
  text-align: center;
	font-size: 40px;
	color: #383634;
}

h2 {
  display: inline-block;
  text-align: center;
  background-color: #383634;
  padding: 3px 10px;
  margin: 5px;
  font-size: 1.75rem;
  color: white;
	opacity: 0.75;
}

h3 {
  display: inline-block;
  font-weight: 600;
  background-color: white;
  text-align: center;
  padding: 10px 25px;
  color: #383634;
	opacity: 0.65;
}

h3 a {
	text-decoration: none;
	display: block;
	color: #383634;
}

.nav {
  background-color: #;
  color: #383634;
  text-align: right;
	padding-right: 200px;
}

.footer {
	font-size: 20px;
  background-color: #;
  text-align: right;
	padding-right: 200px;
	margin-top: 80px;
	margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
  display: inline-block;
}

ul li.left {
  float: left;
	padding-left: 200px;
}

.footer ul li a {
	text-decoration: none;
	color: black;
	padding: 0.25rem 0.25rem;
}

ul li a img {
	height: 70%;
	width: 70%;
	opacity: 0.7;
	padding: 0.75rem 0;
}

.dropdown-menu ul li {
	display: list-item;
}

.title {
	position: relative;
	bottom: 60px;
	z-index: -1;
}

.title h1 {
  font-weight: 300;
  text-align: center;
	font-size: 40px;
	color: #383634;
}

.container {
  min-width: 964px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  background-size: cover;
  width: 964px;
  height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	margin: 0 0 50px 0;
}

#first {
	background-image: url("img/newyork.jpg");
}

#second {
	background-image: url("img/auckland.jpg");
}

#third {
	background-image: url("img/seoul.jpg");
}

.supporting-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supporting-container div {
  background-size: cover;
  width: 452px;
  height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.upcoming {
	background-image: url("img/istanbul.jpg");
}

.archived {
	background-image: url("img/utrecht.jpg");
}
